.navi {
    display: flex;
    justify-content: flex-end;
    margin-right: 7%;


    &__list-element {
        list-style: none;
        padding: 8px 0;
        text-decoration: none;
    }

    @include mq(medium) {
        display: none;
    }

    &__item {
        z-index: 10;
        text-decoration: none;
        padding-bottom: 12px;

        @media only screen and (min-width: 800px) {
            &--hover {

                display: inline-block;
                position: relative;
                padding-left: 28px;
                padding-right: 28px;
                letter-spacing: 1px;

                &::before {

                    content: "";
                    position: absolute;
                    width: 100%;
                    transform: scaleX(0);
                    height: 2px;
                    bottom: 0;
                    left: 0;
                    background-color: $hover-color;
                    transform-origin: bottom right;
                    transition: transform 0.45s ease-out;
                }

                &:hover::before {
                    transform: scaleX(1);
                    transform-origin: bottom left;
                }
            }
        }

        @include mq(medium) {
            &--hover {
                padding-left: 7%;

                &:hover {
                    border-left: 9px solid white;
                }
            }
        }
    }
}

a {
    text-decoration: none;
}

.navi-burger {
    display: none;

    @media only screen and (max-width: 799px) {
        display: block;
    }

    &__switch {
        position: fixed;
        width: 100%;
        height: auto;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.673);
        padding-bottom: 10px;
        z-index: 100;
        animation: show-menu 2s ease-out;
    }

    &__show-burger {
        cursor: pointer;
        display: block;
        position: fixed;
        top: 10px;
        right: 10px;
        color: white;
        font-size: 50px;
        z-index: 10;

        transition: 1s;
    }

    &__hide-burger {
        color: $primary-color;
        z-index: 10000;
    }
}

.change {
    display: none;
}

@keyframes show-menu {
    0% {
        transform: translateY(-300px)
    }

    100% {
        transform: translateY(0)
    }

}