.nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 7%;

    &__list-element {
        list-style: none;
        padding: 20px 0;
    }

    @include mq(medium) {
        display: none;
    }

    &__item {
        z-index: 10;

        padding-bottom: 12px;

        @media only screen and (min-width: 800px) {
            &--hover {
                display: inline-block;
                position: relative;
                padding-left: 28px;
                padding-right: 28px;
                letter-spacing: 1px;

                &::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    transform: scaleX(0);
                    height: 2px;
                    bottom: 0;
                    left: 0;
                    background-color: $hover-color;
                    transform-origin: bottom right;
                    transition: transform 0.45s ease-out;
                }

                &:hover::before {
                    transform: scaleX(1);
                    transform-origin: bottom left;
                }
            }
        }

        @include mq(medium) {
            &--hover {
                padding-left: 7%;

                &:hover {
                    border-left: 9px solid white;
                }
            }
        }
    }
}

.nav-burger {
    display: none;

    @media only screen and (max-width: 799px) {
        display: block;
    }

    &__switch {
        position: fixed;
        width: 100%;
        height: auto;
        top: 0;
        left: 0;
        background-color: black;
        z-index: 12;
        animation: show-menu 2s ease-out;
    }

    &__show-burger {
        cursor: pointer;
        display: block;
        position: fixed;
        top: 10px;
        right: 10px;
        color: white;
        font-size: 44px;
        z-index: 13;
        transform: scaleY(0.4);
        transition: 1s;
    }

    &__hide-burger {
        color: $primary-color;
        transform: scaleY(1)
    }
}

.change {
    display: none;
}

.modal {
    display: none;

    &--bg {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 22;
    }

    &__content {
        padding: 22px;
        background-color: white;
        height: auto;
        width: 500px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 5px;
        letter-spacing: 1.4px;

        @include mq(medium) {
            width: 400px;
        }

        @include mq(xsmall) {
            width: 250px;
        }
    }

    &__close {
        position: absolute;
        top: 5px;
        right: 5px;

        .fa-times {
            font-size: 24px;
            cursor: pointer;
        }
    }

    &__title {
        text-align: center;
        margin: 16px 0;
        font-size: 24px;
        font-weight: 700;

        @include mq(medium) {
            font-size: 20px;
        }

        @include mq(xsmall) {
            font-size: 16px;
        }
    }

    &__text {
        text-align: justify;
        font-size: 18px;

        @include mq(medium) {
            font-size: 13px;
        }

        @include mq(xsmall) {
            font-size: 10px;
        }
    }

}

.modal-img {
    display: none;

    &--bg-img {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 22;
    }

    &__container {
        position: relative;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;

        &-img {
            width: auto;
            height: 85%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            @include mq(medium) {
                height: 78%;
            }

            @include mq(xsmall) {
                height: 60%;
            }
        }

        &-btn {
            position: absolute;
            top: 5%;
            right: 5%;

            @include mq(xsmall) {
                top: 2%;
                right: 2%;
            }

            .fa-times {
                font-size: 44px;
                color: #3f9357;
                cursor: pointer;
                background-color: white;
                border-radius: 50%;
                width: 80px;
                height: 80px;
                text-align: center;
                line-height: 80px;

                @include mq(xxlarge) {
                    font-size: 38px;
                    width: 60px;
                    height: 60px;
                    line-height: 60px;
                }

                @include mq(large) {
                    font-size: 31px;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                }

                @include mq(small) {
                    font-size: 25px;
                    width: 32px;
                    height: 32px;
                    line-height: 32px;
                }
            }
        }
    }


}

@keyframes show-menu {
    0% {
        transform: translateY(-300px)
    }

    100% {
        transform: translateY(0)
    }

}