.circle {

    &__full,
    &__empty {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        color: white;
        opacity: 0.1;
    }

    &__full {
        font-size: 700px;

        @include mq(medium) {
            font-size: 450px;
        }

        @include mq(xsmall) {
            font-size: 330px;
        }
    }

    &__empty {
        animation: circle 3s forwards;
        font-size: 650px;

        @include mq(medium) {
            animation: circle-md 3s forwards;
        }

        @include mq(xsmall) {
            animation: circle-xsm 3s forwards;
        }
    }
}

.welcome {
    color: $primary-color;

    &__text-1 {
        color: white;
        font-size: 70px;
        animation: show-element 3s;

        @include mq(medium) {
            font-size: 50px;
        }

        @include mq(xsmall) {
            font-size: 40px;
        }
    }

    &__text-2 {
        font-size: 45px;
        animation: show-element 2s;

        @include mq(medium) {
            font-size: 32px;
        }

        @include mq(xsmall) {
            font-size: 20px;
        }
    }

    &__text-3 {
        font-size: 24px;
        border-top: solid white 3px;
        padding-top: 12px;
        animation: show-element 3s;

        @include mq(medium) {
            font-size: 20px;
        }

        @include mq(xsmall) {
            font-size: 16px;
        }
    }
}

.modal-button {

    animation: vibration 4s 5s infinite;

    &:hover {
        color: transparent;
    }
}

.modal-image {
    width: 100%;
}

@include keyframes(show-element);

@keyframes circle {

    0% {
        font-size: 450px;
    }

    30% {
        font-size: 300px;
    }

    100% {
        font-size: 650px;
    }
}

@keyframes circle-md {

    0% {
        font-size: 300px;
    }

    30% {
        font-size: 200px;
    }

    100% {
        font-size: 400px;
    }
}

@keyframes circle-xsm {

    0% {
        font-size: 200px;
    }

    30% {
        font-size: 100px;
    }

    100% {
        font-size: 300px;
    }
}

@keyframes vibration {

    0%,
    2%,
    4% {
        transform: rotate(2deg)
    }

    1%,
    3% {
        transform: rotate(-2deg)
    }

    5%,
    100% {
        transform: rotate(0deg)
    }
}