.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    animation: show 2s;
    margin-top: 130px;
    max-height: 90vh;

    &__container {
        position: relative;
        margin: 4px;
    }


    &__item {
        color: white;
        font-size: 130px;
        padding: 30px 40px;
        flex-grow: 1;
        width: 200px;
        cursor: pointer;
        transition: 0.2s;

        @include mq(xlarge) {
            font-size: 100px;
            width: 180px;
        }

        @include mq(medium) {
            font-size: 70px;
            width: auto
        }

        @include mq(small) {
            font-size: 50px;
        }

        &--orange:hover {
            color: rgba(241, 124, 46, 0.8);
        }

        &--blue:hover {
            color: rgba(20, 89, 238, 0.8);
        }

        &--violet:hover {
            color: rgba(160, 69, 221, 0.8);
        }

        &--pink:hover {
            color: rgba(206, 119, 214, 0.8);
        }

        &--yellow:hover {
            color: rgba(238, 255, 0, 0.8);
        }

        &--azure:hover {
            color: rgba(0, 255, 234, 0.8);
        }

        &--green:hover {
            color: rgba(131, 224, 55, 0.8);
        }

        &--black:hover {
            color: rgba(0, 0, 0, 0.8);
        }

        &--hide {
            animation: hide 2s;
            animation-fill-mode: forwards;
            display: none;
        }

        &--text {
            color: white;
            font-size: 17px;
            width: auto;
            background-color: rgba(0, 0, 0, 0.4);
            border-radius: 15px;
            border: white solid 1px;
            padding: 10px;
            letter-spacing: 1.4px;
            font-weight: 700;
        }
    }
}

@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes hide {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}