.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    animation: show-element 2s;
    margin-top: 130px;
    max-height: 90vh;

    &__container {
        position: relative;
        margin: 4px;
    }


    &__item {
        color: white;
        font-size: 130px;
        padding: 30px 40px;
        flex-grow: 1;
        width: 220px;
        cursor: pointer;
        transition: 0.2s;

        @include mq(xlarge) {
            font-size: 120px;
            width: 180px;
        }

        @include mq(medium) {
            font-size: 70px;
            width: auto
        }

        @include mq(small) {
            font-size: 50px;
        }

        &--html:hover {
            color: #eb7846;
        }

        &--css:hover {
            color: #293eff;
        }

        &--js:hover {
            color: #f0eb62;
        }

        &--react:hover {
            color: #62dff0;
        }

        &--vue:hover {
            color: #82cf93;
        }

        &--angular:hover {
            color: #d53333;
        }

        &--node:hover {
            color: #38b82a;
        }

        &--other:hover {
            color: rgba(0, 0, 0, 0.8);
        }

        &--hide {
            animation: hide 2s;
            animation-fill-mode: forwards;
            display: none;
        }

        &--text {
            color: white;
            font-size: 17px;
            width: auto;
            background-color: rgba(0, 0, 0, 0.4);
            border-radius: 15px;
            border: white solid 1px;
            padding: 10px;
            letter-spacing: 1.4px;
            font-weight: 700;
        }
    }
}

@include keyframes(show-element);

@keyframes hide {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}